{% extends 'base.html' %}
{% load static %}

{% block body%}
<body>
{% endblock %}
{% block content %}

<h3>About Vagary</h3>
<p>Donald John Trump is the 45th and current president of the United States. Before entering politics, he was a businessman and television personality. Trump was born and raised in the New York City borough of Queens and received an economics degree from the Wharton School.</p>






{%endblock%}
{% block footer %}
    <div id = "home-footer" class="card-footer text-muted">
{% endblock %}
